
node_modules/
.pnp
.pnp.js


dist/
dist-ssr/
build/
*.local
markdowns/


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


*.wasm.map
wasm_build/
build_wasm_local.sh


coverage/
.nyc_output/


*.pem
certs/
.vercel
.netlify


*.tsbuildinfo
next-env.d.ts